{% extends "base.html" %}
{% block content %}
    <script>
        $(document).on("keypress", "#answer", function(e){
            if(e.which == 13){
                var inputVal = $(this).val();
                $("#result").text(inputVal)
                $('#result').toggleClass('d-none');
            }
        });

        $(document).on("click", "#next", function(e){
            index = index+1;
            $('#result').toggleClass('d-none');
            updateWord()

        })

        var words = [
                {% for word in words %}
                {
                    "name": "{{word.name}}",
                    "translation": "{{word.translation}}"
                },
                {% endfor %}
        ];
        var index = 0;

        function updateWord(){
            $("#word").text(words[index].name)
            console.log(words[index].name)
        }
        $(document).ready(function() {
            updateWord();
          });

    </script>
    <div class="paper p-5">
        Translate the following word:
        <div id="word"></div>
        <div>
            <input class="form-control"
                   id="answer"
                   placeholder="Search"
                   aria-label="Search">
        </div>
        <hr>
        <div id="result" class="d-none">asdasf</div>
        <a id="next">next</a>
    </div>
{% endblock content %}
