{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/word_definition.css' %}">
{% endblock extra_css %}
{% block content %}
  <div class="paper p-5">
    {% if word %}
      <div class="word-name">{{ word.name }}</div>
      <div class="word-specs">
        [{{ word.get_part_of_speech_display|lower }}]
        {% if word.gender %}{{ word.gender|lower }}.{% endif %}
        {% if word.number %}{{ word.number|lower }}.{% endif %}
        {% if word.conjugation %}conj. {{ word.conjugation }}{% endif %}
      </div>
      <div class="word-translation">{{ word.translation }}</div>
      <hr />
      {% if word.required_case %}
        <div class="word-reqs">
          <ul>
            <li>
              this {{ word.get_part_of_speech_display|lower }} enforces the following case(s): {{ word.get_required_case_display }}
            </li>
          </ul>
        </div>
      {% endif %}
    {% else %}
      <div class="word-name">No word found</div>
    {% endif %}
  </div>
{% endblock content %}
