
.word-name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 80px;
    padding: 0px;
}

.word-specs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 0px;
}

.word-translation{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 1;
    text-align: justify;
}

.word-reqs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
}